@page "/"
@using MotRenewalApp.Components.PageComponents
@using MotRenewalApp.Services
@rendermode InteractiveServer
@inject IMotService MotService

<PageTitle>MOT Renewal Checker</PageTitle>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">MOT Renewal Checker</h1>

            <RegistrationForm RegistrationNumber="@registrationNumber" RegistrationNumberChanged="@OnRegistrationNumberChanged" OnCheckMotClicked="FetchMotData" />

            <VehicleInfo Vehicle="vehicle"></VehicleInfo>
            
            @if (!string.IsNullOrEmpty(errorMessage))
            {
            <ErrorComponent ErrorMessage="@errorMessage" />
            }
        </div>
    </div>
</div>