@rendermode InteractiveServer

<div class="form-group">
    <label for="registration">Enter Registration Number:</label>
    <input type="text" id="registration" class="form-control" @bind="RegistrationNumber" />
    <button class="btn btn-primary mt-2" @onclick="OnCheckMotClicked">Check MOT</button>
</div>
